{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <!-- <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet"> -->
    <link href="{% static "css/ripple.css" %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body>
    <div id="main-menu" class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#"><i class="icon-music"></i> ripple</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right nav-auth">
              <li class="login"><a href="#">Log In Using Facebook</a></li>
              <li class="hide me-img"><img></li>
              <li class="hide me"><a href="#/me"></a></li>
              <li class="hide logout"><a href="#">Log Out</a></li>
            </ul>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="the-content"></div>

    {% verbatim %}
      <script id="user-template" type="text/x-handlebars-template">
        <div class="container">
          <div class="row">
            <div class="span2 userinfo">
              <p class="text-center">
                <img src="https://graph.facebook.com/{{user.id}}/picture?width=170&height=170">
              </p>
              <ul class="nav nav-list usernav">
                <li><h2 class="username">{{user.first_name}}</h2></li>
                <li {{#if activeDiscover}}class="active"{{/if}}><a href="#/user/{{user.id}}">Discover</a></li>
                <li {{#if activeArtists}}class="active"{{/if}}><a href="#/user/{{user.id}}/artists">Artists</a></li>
              </ul>
            </div>
            <div class="span10">
              <div class="friends">
              </div>
            </div>
          </div>
        </div>
      </script>
      <script id="friend-template" type="text/x-handlebars-template">
        {{#each friends}}
          <a class="item friend-size-{{this.size}}" href="#/me/and/{{this.uid}}">
            {{friendPhoto this}}
            <span class="number">{{this.size}} <i class="icon-thumbs-up"></i></span>
            <span class="name">{{this.name}}</span>
          </a>
        {{/each}}
      </script>
    {% endverbatim %}

    <div class="container-fluid">
      <div class="row-fluid">
      </div><!--/row-->
    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery-1.9.1.js" %}"></script>
    <script src="{% static "js/path.min.js" %}"></script>
    <script src="{% static "js/handlebars.js" %}"></script>
    <script src="{% static "js/jquery.masonry.min.js" %}"></script>

    <!--
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>-->
    <script src="{% static "js/ripple.js" %}"></script>

    <div id="fb-root"></div>
    <script>
    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        appId : '{{ FB_ID }}', // App ID from the app dashboard
        //channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel file for x-domain comms
        status : true, // Check Facebook Login status
        xfbml : true // Look for social plugins on the page
      });
      // Additional initialization code such as adding Event Listeners goes here
      $(window).triggerHandler('fbAsyncInit');
    };
    // Load the SDK asynchronously
    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
